<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

	<title>About</title>

	<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
    
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="../static/css/about_style.css" rel="stylesheet">
</head>
<body>

    <header>
    <h1>UTSC Fitness Club</h1>
    <div class="header-buttons">
        <a href="/login">Login/Register</a>
    </div>
    
    </header>
    <nav>
        <a class="active" href="/">Home</a>
        <a href="/about">About</a>
        <a href="/calendar">Events</a>
        <a href="/contacts">Contact</a>
        <a href="/tutorials">Tutorials</a>
    </nav>
    <main>
        <h2>About Us</h2>
        <div class="image-wrapper">
            <img src="../static/files/panam.jpg" alt="Pan Am" class="left-image" height="300" width="300">
            <p>The UTSC Fitness Club is a student-run organization that aims to promote physical activity and exercise to the student community 
                by hosting group workout sessions, runs, and other events.
                <br>
                <br>
                At the UTSC Fitness Club, we believe that a healthy body is essential for academic success and overall well-being. 
                Our programs are designed to support the physical and mental health of our members, and we are committed to providing a safe and 
                inclusive environment for everyone.</p>
        </div>
        <h3>Executives</h3>
        <div class="image-wrapper">
            <p>🎉Leon: At the start of my fitness journey, I remember being confused, intimated, and lost on where to start. 
                The fitness world seemed so foreign and out of my reach, reserved for only those pre-destined to be a part of it. 
                However, it shouldn’t have to be this way, as fitness should be an essential aspect of everyone’s life. 
                The potential fitness has to drastically improve someone's life can't be overstated. 
                My goal is to foster a positive community for all who have just begun their own journeys and guide them down the path as a team. 
                Walking down this road with friends along the way makes the journey a little bit easier, the challenges a little bit more 
                tolerable, and the experience just a little bit brighter.</p>
            <img src="../static/files/Leon.PNG" alt="Leon" class="right-image" height="300" width="300">
        </div>
        <div class="image-wrapper">
            <img src="../static/files/Klein.PNG" alt="Klein" class="left-image" height="300" width="300">
            <p>Please change: At the start of my fitness journey, I remember being confused, intimated, and lost on where to start. 
                The fitness world seemed so foreign and out of my reach, reserved for only those pre-destined to be a part of it. 
                However, it shouldn’t have to be this way, as fitness should be an essential aspect of everyone’s life. 
                The potential fitness has to drastically improve someone's life can't be overstated. 
                My goal is to foster a positive community for all who have just begun their own journeys and guide them down the path as a team. 
                Walking down this road with friends along the way makes the journey a little bit easier, the challenges a little bit more 
                tolerable, and the experience just a little bit brighter.</p>
        </div>
        <div class="image-wrapper">
            <p>Please change: At the start of my fitness journey, I remember being confused, intimated, and lost on where to start. 
                The fitness world seemed so foreign and out of my reach, reserved for only those pre-destined to be a part of it. 
                However, it shouldn’t have to be this way, as fitness should be an essential aspect of everyone’s life. 
                The potential fitness has to drastically improve someone's life can't be overstated. 
                My goal is to foster a positive community for all who have just begun their own journeys and guide them down the path as a team. 
                Walking down this road with friends along the way makes the journey a little bit easier, the challenges a little bit more 
                tolerable, and the experience just a little bit brighter.</p>
            <img src="../static/files/Serena.PNG" alt="Serena" class="right-image" height="300" width="300">
        </div>         
        <div class="image-wrapper">
            <img src="../static/files/Anis.PNG" alt="Anis" class="left-image" height="300" width="300">
            <p>🎉Anis: I started the club to create a supportive gym environment where students can learn the basics of 
                training without fear or confusion. I understand how intimidating the gym can be and was able to progress with the help 
                of a supportive friend. We motivated each other to work out and build our strength, muscles, and confidence. My training 
                methods include compound exercises like bench presses, squats, and rows, as well as calisthenics like pull-ups and push-ups. 
                I want every student to benefit from exercise, regardless of their current fitness level.</p>

        </div>
        <div class="image-wrapper">
            <p>Please change: At the start of my fitness journey, I remember being confused, intimated, and lost on where to start. 
                The fitness world seemed so foreign and out of my reach, reserved for only those pre-destined to be a part of it. 
                However, it shouldn’t have to be this way, as fitness should be an essential aspect of everyone’s life. 
                The potential fitness has to drastically improve someone's life can't be overstated. 
                My goal is to foster a positive community for all who have just begun their own journeys and guide them down the path as a team. 
                Walking down this road with friends along the way makes the journey a little bit easier, the challenges a little bit more 
                tolerable, and the experience just a little bit brighter.</p>
            <img src="../static/files/JP.PNG" alt="JP" class="right-image" height="300" width="300">
        </div>         
    </main>

    <footer>
        <p>&copy; 2023 UTSC Fitness Club. All rights reserved.</p>
    </footer>
</body>
</html>
