<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico" />

    <title>About</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.0/examples/sign-in/"
    />

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="../static/css/about_style.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1>UTSC Fitness Club</h1>
      <div class="header-buttons">
        <a href="/login">Login/Register</a>
      </div>
    </header>
    <nav>
      <a class="active" href="/">Home</a>
      <a href="/about">About</a>
      <a href="/calendar">Events</a>
      <a href="/contacts">Contact</a>
      <a href="/tutorials">Tutorials</a>
    </nav>
    <main>
      <h2>About Us</h2>
      <div class="image-wrapper">
        <img
          src="../static/files/panam.jpg"
          alt="Pan Am"
          class="left-image"
          height="300"
          width="300"
        />
        <p>Add Statement about club here</p>
      </div>
      <h2>Trainers</h2>
      <div class="image-wrapper">
        <p>
          🎉Leon: At the start of my fitness journey, I remember being confused,
          intimated, and lost on where to start. The fitness world seemed so
          foreign and out of my reach, reserved for only those pre-destined to
          be a part of it. However, it shouldn’t have to be this way, as fitness
          should be an essential aspect of everyone’s life. The potential
          fitness has to drastically improve someone's life can't be overstated.
          My goal is to foster a positive community for all who have just begun
          their own journeys and guide them down the path as a team. Walking
          down this road with friends along the way makes the journey a little
          bit easier, the challenges a little bit more tolerable, and the
          experience just a little bit brighter.
        </p>
        <img
          src="../static/files/Leon.PNG"
          alt="Leon"
          class="right-image"
          height="300"
          width="300"
        />
      </div>
      <div class="image-wrapper">
        <img
          src="../static/files/Klein.PNG"
          alt="Klein"
          class="left-image"
          height="300"
          width="300"
        />
        <p>
          Please change: At the start of my fitness journey, I remember being
          confused, intimated, and lost on where to start. The fitness world
          seemed so foreign and out of my reach, reserved for only those
          pre-destined to be a part of it. However, it shouldn’t have to be this
          way, as fitness should be an essential aspect of everyone’s life. The
          potential fitness has to drastically improve someone's life can't be
          overstated. My goal is to foster a positive community for all who have
          just begun their own journeys and guide them down the path as a team.
          Walking down this road with friends along the way makes the journey a
          little bit easier, the challenges a little bit more tolerable, and the
          experience just a little bit brighter.
        </p>
      </div>
      <div class="image-wrapper">
        <p>
          Please change: At the start of my fitness journey, I remember being
          confused, intimated, and lost on where to start. The fitness world
          seemed so foreign and out of my reach, reserved for only those
          pre-destined to be a part of it. However, it shouldn’t have to be this
          way, as fitness should be an essential aspect of everyone’s life. The
          potential fitness has to drastically improve someone's life can't be
          overstated. My goal is to foster a positive community for all who have
          just begun their own journeys and guide them down the path as a team.
          Walking down this road with friends along the way makes the journey a
          little bit easier, the challenges a little bit more tolerable, and the
          experience just a little bit brighter.
        </p>
        <img
          src="../static/files/Serena.PNG"
          alt="Serena"
          class="right-image"
          height="300"
          width="300"
        />
      </div>
      <div class="image-wrapper">
        <img
          src="../static/files/Anis.PNG"
          alt="Anis"
          class="left-image"
          height="300"
          width="300"
        />
        <p>
          🎉Anis: My vision when starting this club was to help create an
          environment where students can safely learn the fundamentals of
          training without confusion or fear of judgment, and to foster a
          supportive gym community that motivates each other. From personal
          experience, I know how intimidating the gym can feel when you’re first
          starting out. But everybody was a beginner at one point, and that’s
          nothing to be ashamed of. When I first started training I was
          overweight, unathletic, and couldn’t even lift the bar off the squat
          rack. The only reason why I was able to come this far is that I was
          lucky enough to be blessed with a good friend who was there for me on
          my fitness journey. We both suffered from depression and isolation,
          but motivated each other to work out, slowly but surely building our
          strength, muscles, and confidence in the gym. The impact was
          life-changing, not just for our bodies, but also for our mental health
          and well-being. I wish to empower every student to reap these benefits
          as well, no matter where they currently are in their fitness journey.
          My primary methods of training include foundational compound
          free-weight exercises such as bench presses, squats, deadlifts, and
          rows. In addition to this, I also like to teach calisthenic exercises
          such as pull-ups, pushups, muscle ups and front levers.
        </p>
      </div>
      <div class="image-wrapper">
        <p>
          Please change: At the start of my fitness journey, I remember being
          confused, intimated, and lost on where to start. The fitness world
          seemed so foreign and out of my reach, reserved for only those
          pre-destined to be a part of it. However, it shouldn’t have to be this
          way, as fitness should be an essential aspect of everyone’s life. The
          potential fitness has to drastically improve someone's life can't be
          overstated. My goal is to foster a positive community for all who have
          just begun their own journeys and guide them down the path as a team.
          Walking down this road with friends along the way makes the journey a
          little bit easier, the challenges a little bit more tolerable, and the
          experience just a little bit brighter.
        </p>
        <img
          src="../static/files/JP.PNG"
          alt="JP"
          class="right-image"
          height="300"
          width="300"
        />
      </div>
    </main>

    <footer>
      <p>&copy; 2023 UTSC Fitness Club. All rights reserved.</p>
    </footer>
  </body>
</html>
