<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

	<title>About</title>

	<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
    
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="../static/css/about_style.css" rel="stylesheet">
</head>
<body>

    <header>
    <nav>
        <a class="active" href="/">Home</a>
        <a href="/about">About</a>
        <a href="/calendar">Events</a>
        <a href="/contacts">Contact</a>
        <a href="/tutorials">Tutorials</a>
  </nav>
    </header>

    <main>
        <h1>About Us</h1>
        <div class="image-wrapper">
            <img src="../static/files/panam.jpg" alt="Pan Am" class="left-image" height="300" width="300">
            <p>Add Statement about club here</p>
        </div>
        <h1>Trainers</h1>
        <div class="image-wrapper">
            <p>Add Statement about Leon</p>
            <img src="../static/files/Leon.PNG" alt="Leon" class="right-image" height="300" width="300">
        </div>
        <div class="image-wrapper">
            <img src="../static/files/Klein.PNG" alt="Klein" class="left-image" height="300" width="300">
            <p>Add Statement about Klein</p>
        </div>
        <div class="image-wrapper">
            <p>Add Statement about Serena</p>
                        <img src="../static/files/Serena.PNG" alt="Serena" class="right-image" height="300" width="300">
        </div>         
        <div class="image-wrapper">
            <img src="../static/files/Anis.PNG" alt="Anis" class="left-image" height="300" width="300">
            <p>Add Statement about Anis</p>
        </div>
        <div class="image-wrapper">
            <p>Add Statement about JP</p>
            <img src="../static/files/JP.PNG" alt="JP" class="right-image" height="300" width="300">
        </div>         
    </main>

    <footer>
        <p>&copy; 2023 UTSC Fitness Club. All rights reserved.</p>
    </footer>
</body>
</html>