<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

	<title>Workout Schedule</title>

	<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
    
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="../static/css/calendar_style.css" rel="stylesheet">
</head>
<body>
	<nav>
		<a class="active" href="/">Home</a>
		<a href="/about">About</a>
		<a href="/calendar">Events</a>
		<a href="/contacts">Contact</a>
		<a href="/tutorials">Tutorials</a>
 	</nav>
	<div class="calendar">
		<div class="header">
			<h1>Workout Schedule</h1>
		</div>
		<table>
			<thead>
				<tr>
					<th>Monday</th>
					<th>Tuesday</th>
					<th>Wednesday</th>
					<th>Thursday</th>
					<th>Friday</th>
					<th>Saturday</th>
					<th>Sunday</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="workout"></td>
					<td class="workout"></td>
					<td class="workout"></td>
					<td class="workout"></td>
					<td class="workout"></td>
					<td class="rest"></td>
					<td class="rest"></td>
				</tr>
				<tr>
					<td class="workout"></td>
					<td class="workout"></td>
					<td class="workout"></td>
					<td class="workout"></td>
					<td class="workout"></td>
					<td class="rest"></td>
					<td class="rest"></td>
				</tr>
				<tr>
					<td class="workout"></td>
					<td class="workout"></td>
					<td class="workout"></td>
					<td class="workout"></td>
					<td class="workout"></td>
					<td class="rest"></td>
					<td class="rest"></td>
				</tr>
				<tr>
					<td class="rest"></td>
					<td class="rest"></td>
					<td class="workout"></td>
					<td class="workout"></td>
					<td class="workout"></td>
					<td class="rest"></td>
					<td class="rest"></td>
				</tr>
				<tr>
					<td class="workout"></td>
					<td class="workout"></td>
					<td class="workout"></td>
					<td class="workout"></td>
					<td class="workout"></td>
					<td class="rest"></td>
					<td class="rest"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>