<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

	<title>Contacts</title>

	<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
    
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="../static/css/contacts_style.css" rel="stylesheet">
</head>
<body>
	<header>
		<h1>Contact Us</h1>
        <nav>
            <a class="active" href="/">Home</a>
			<a href="/about">About</a>
			<a href="/calendar">Events</a>
			<a href="/contacts">Contact</a>
        </nav>
	</header>

	<main>
		<section>
			<h2>Get In Touch</h2>
			<p>Fill out the form below to send us a message:</p>
			<form>
				<label for="name">Name:</label>
				<input type="text" id="name" name="name" required>

				<label for="email">Email:</label>
				<input type="email" id="email" name="email" required>

				<label for="message">Message:</label>
				<textarea id="message" name="message" required></textarea>

				<input type="submit" value="Send">
			</form>
		</section>
		<section>
			<h2>Contact Details</h2>
			<ul>
				<li><strong>Discord:</strong> Idk add discord link or something</li>
				<li><strong>Instagram:</strong> When you make one</li>
				<li><strong>Email:</strong> Someuoftemail@mail.utoronto.ca</li>
			</ul>
		</section>
	</main>
</body>
</html>