<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

	<title>Fitness Home Page</title>

	<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
    
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="../static/css/home_style.css" rel="stylesheet">
</head>
<body>
	<header>
		<h1>UTSC Fitness Club</h1>
		<div class="header-buttons">
			<a href="/login">Login/Register</a>
		</div>
	</header>
		<nav>
			<a class="active" href="/">Home</a>
			<a href="/about">About</a>
			<a href="/calendar">Events</a>
			<a href="/contacts">Contact</a>
			<a href="/tutorials">Tutorials</a>
  		</nav>
	<section>
		<h2>Welcome to our Fitness Home Page!</h2>
		<p>We offer a variety of fitness Sessions for all levels of fitness, including ...</p>
		<p>Join us today and start your fitness journey!</p>
	</section>
	<footer>
		<p>&copy; 2023 UTSC Fitness Club. All rights reserved.</p>
	</footer>
</body>
</html>