<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>UTSC Fitness Club Login Page</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
    
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="../static/css/login_style.css" rel="stylesheet">
    <style>
    body {
        background-image: url("../Static/files/Gym_clear.png");
        background-repeat: no-repeat;
        background-size: 50% auto;
        background-position: center top;
       }
    </style>
</head>

<body>
    <nav>
		<a class="active" href="/">Home</a>
		<a href="/about">About</a>
		<a href="/calendar">Events</a>
		<a href="/contacts">Contact</a>
		<a href="/tutorials">Tutorials</a>
 	</nav>
    <form action="action_page.php" method="post">
        <div class="container">
            <div class="pills-nav">
                <button class="active">Login</button>
                <button>Register</button>
            </div>            
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>
    
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
    
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
            <button type="submit">Sign in</button>
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw"> <a href="#">Forgot password?</a></span>
    </form>
</body>
</html>