<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

	<title>Video Tutorials</title>

	<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
    
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="../static/css/tutorials_style.css" rel="stylesheet">
</head>
<body>
    <nav>
		<a class="active" href="/">Home</a>
		<a href="/about">About</a>
		<a href="/calendar">Events</a>
		<a href="/contacts">Contact</a>
		<a href="/tutorials">Tutorials</a>
  </nav>
	<div class="container">
		<h1>Video Tutorials</h1>
		<div class="video-wrapper">
			<div>
				<iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ"></iframe>
				<h3>Video Title</h3>
			</div>
			<div>
				<iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ"></iframe>
				<h3>Video Title</h3>
			</div>
			<div>
				<iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ"></iframe>
				<h3>Video Title</h3>
			</div>
			<div>
				<iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ"></iframe>
				<h3>Video Title</h3>
			</div>
		</div>
	</div>
</body>
</html>