<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

	<title>Video Tutorials</title>

	<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
    
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="../static/css/tutorials_style.css" rel="stylesheet">
</head>
<body>
	<header>
			<h1>UTSC Fitness Club</h1>
			<div class="header-buttons">
				<a href="/login">Login/Register</a>
			</div>
		</header>
			<nav>
				<a class="active" href="/home">Home</a>
				<a href="/about">About</a>
				<a href="/calendar">Events</a>
				<a href="/contacts">Contact</a>
			</nav>
	<div class="container">
		<h1>Video Tutorials</h1>
		<div class="video-wrapper">
			<div>
				<video width="240" height="320" controls>
					<source src="../static/files/Klein_pull_up.mp4" type="video/mp4">
				  Your browser does not support the video tag.
				  </video>
				<h3>Weighted Pull Ups</h3>
			</div>
			<div>
				<video width="240" height="320" controls>
					<source src="../static/files/Klein_muscle_up.mp4" type="video/mp4">
				  Your browser does not support the video tag.
				  </video>
				<h3>Muscle Up</h3>
			</div>
			<div>
				<video width="240" height="320" controls>
					<source src="../static/files/Klein_bent_row.mp4" type="video/mp4">
				  Your browser does not support the video tag.
				  </video>
				<h3>Bent Over Row</h3>
			</div>
			<div>
				<video width="240" height="320" controls>
					<source src="../static/files/Klein_lateral_raises.mp4" type="video/mp4">
				  Your browser does not support the video tag.
				  </video>
				<h3>Lateral Raises</h3>
			</div>
			<div>
				<video width="240" height="320" controls>
					<source src="../static/files/Klein_squat.mp4" type="video/mp4">
				  Your browser does not support the video tag.
				  </video>
				<h3>Back Squat</h3>
			</div>
			<div>
				<video width="240" height="320" controls>
					<source src="../static/files/Klein_bicep_curls.mp4" type="video/mp4">
				  Your browser does not support the video tag.
				  </video>
				<h3>Bicep Curls</h3>
			</div>
		</div>
	</div>
	<footer>
		<p>&copy; 2023 UTSC Fitness Club. All rights reserved.</p>
	</footer>
</body>
</html>