<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

	<title>User Profile</title>

	<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
    
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="../static/css/user_profile_style.css" rel="stylesheet">
</head>
<body>
    <nav>
		<a class="active" href="/">Home</a>
		<a href="/about">About</a>
		<a href="/calendar">Events</a>
		<a href="/contacts">Contact</a>
  </nav>
	<div class="container">
		<h1>User profile name goes here</h1>
		<form>
			<label for="height">Height:</label>
			<input type="number" id="height" name="height" placeholder="Enter your height in cm" required>

			<label for="weight">Weight:</label>
			<input type="number" id="weight" name="weight" placeholder="Enter your weight in kg" required>

			<label for="sex">Sex:</label>
			<select id="sex" name="sex">
				<option value="male">Male</option>
				<option value="female">Female</option>
			</select>

			<label for="age">Age:</label>
			<input type="number" id="age" name="age" placeholder="Enter your age" required>

			<label for="fitness">Fitness Goals:</label>
			<select id="fitness" name="fitness">
				<option value="maintain">Maintain weight</option>
				<option value="lose">Lose weight</option>
				<option value="gain">Gain weight</option>
			</select>

			<button type="submit" onclick="calculateMacros()">Calculate Macros</button>
		</form>
	</div>

	<script src="calculate_macros.js"></script>
</body>
</html>
